@use '../helpers' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--header-bg); 
    backdrop-filter: blur(var(--header-blur)); 
    -webkit-backdrop-filter: blur(var(--header-blur)); /* Для Safari */
    border-bottom: var(--border-color);

    @include mobile-above {
        &__burger-button {
            display: none !important;
        }
    }

    @include mobile {
        &__burger-button {
            @include square(rem(34));
            color: var(--color-text); /* Белые линии на мобильных */
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
    }

    &__body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(20) 0;

        &-logo {
            font-family: var(--font-family-title);
            font-size: fluid(22.4, 18);
        }

        &-logo span {
            color: var(--primary);
        }
    }

    &__menu {
        &-list {
            display: flex;
            gap: rem(30);
        }

        &-item {
            .is-active {
                color: var(--primary);
                pointer-events: none; 
            }
        }
    }

    // &__
}