@use '../helpers' as *;

.hero {
    padding: fluid(100, 80) 0 fluid(80, 60);
    background: radial-gradient(circle at top, rgba(46, 204, 113, 0.1) 0%, transparent 60%);

    @include tablet {
        padding: fluid(80, 50) 0 fluid(60, 40);
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: fluid(24, 20);
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: fluid(45, 30);
        letter-spacing: rem(-0.32);
        line-height: 1.2;
        width: rem(800);
        text-align: center;

        @include tablet {
            width: rem(600);
        }

        @include mobile {
            width: fluid(500, 360);
            font-size: fluid(40, 20);
        }
    }
}