@use '../helpers' as *;

.orders {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__title {
        font-size: 22px;
        margin: 0;
        font-weight: 600;
    }

    &__counter {
        background-color: var(--bg-card);
        border: var(--border-color);
        border-radius: 20px;
        padding: 6px 16px;
        font-size: 14px;
        color: var(--description-text);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}